{% extends "base/base.html" %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<style>
  .image-container {
    position: relative;
}

.icon-edit, .icon-delete {
    font-size: 1.2rem;  /* Smaller size for both icons */
    cursor: pointer;
}

.icon-edit {
    position: absolute;
    top: 5px;    /* Adjusted top value to give space from the top */
    right: 5px;  /* Adjusted right value to place it near the edge */
    padding: 5px;
}

.icon-delete {
    position: absolute;
    top: 30px;   /* Move the trash icon below the pencil icon */
    right: 5px;  /* Same right value for consistent alignment */
    padding: 5px;
}

.activity-wrapper {
  overflow-x: auto; /* Allow horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* For smoother scrolling on mobile */
  width: 100%; /* Ensure full width */
}

.activity {
  display: flex; /* Align activity items horizontally */
  flex-direction: column; /* Arrange the items in a column */
  min-width: 100%; /* Ensure the content fits within the width */
}

.activity-item {
  display: flex;
  align-items: center;
  margin: 5px 0; /* Space between activity items */
  min-width: 300px; /* Set minimum width for items */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
}

.activity-item .activity-content {
  text-overflow: ellipsis; /* Ensure overflowing text is truncated */
  max-width: calc(100% - 50px); /* Adjust based on content width */
}

.activity-item .activite-label {
  width: 100px; /* Set a fixed width for the label */
}

.activity-item .activity-badge {
  margin-left: 10px; /* Add space between the badge and content */
}



</style>
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
        <li class="breadcrumb-item"> {{ request.user.username }}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

                {% if messages %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          {% for message in messages %}
                              <h5>{{ message }}</h5>
                          {% endfor %}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endif %}

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Doctors <span>| Today</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-hospital"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ total_doctors }}</h6>
                    <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Patients <span>| This Month</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-person"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ total_patients }}</h6>
                    {% if growth_type == 'increase' %}
                      <span class="text-success small pt-1 fw-bold">{{ growth_percentage }}%</span>
                      <span class="text-muted small pt-2 ps-1">increase</span>
                    {% else %}
                      <span class="text-danger small pt-1 fw-bold">{{ growth_percentage }}%</span>
                      <span class="text-muted small pt-2 ps-1">decrease</span>
                    {% endif %}
                  
                   
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

         <!-- Randomized Patients -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Randomized </h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-person-check text-white"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ randomized_patients }} </h6>
                    <span class="text-success small pt-1 fw-bold">{{ randomized_percentage }}%</span> <span class="text-muted small pt-2 ps-1">of total</span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->


          <!-- UnRandomized Patients -->
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">UnRandomized </h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-warning" >
                    <i class="bi bi-person-dash text-white"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ unrandomized_patients }} </h6>
                    <span class="text-warning small pt-1 fw-bold">{{ unrandomized_percentage }}%</span> <span class="text-muted small pt-2 ps-1">of total</span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Unrandomized Card -->

         
          <!-- Customers Card -->
          <div class="col-xxl-6 col-xl-12">

            <div class="card info-card customers-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Staffs <span>| 2024</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ total_staff }}</h6>
                    <span class="text-danger small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

          <!-- Reports -->
          <div class="col-12">
            <div class="card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Monthly Gender Distribution <span id="currentYear"></span></h5>
            
                <!-- Line Chart -->
                <div id="reportsChart"></div>
            
                <script>
                  document.addEventListener("DOMContentLoaded", () => {

                    const currentYear = new Date().getFullYear();
                    document.getElementById("currentYear").textContent = `/${currentYear}`;


                    new ApexCharts(document.querySelector("#reportsChart"), {
                      series: [{
                        name: 'Male',
                        data: {{ male_data|safe }},
                      }, {
                        name: 'Female',
                        data: {{ female_data|safe }}
                      }],
                      chart: {
                        height: 350,
                        type: 'area',
                        toolbar: {
                          show: false
                        },
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#4154f1', '#f41f1f'],  // Male in blue, Female in red
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100]
                        }
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        categories: {{ months|safe }}
                      },
                      tooltip: {
                        x: {
                          format: 'dd/MM/yy'
                        },
                      }
                    }).render();
                  });
                </script>
                <!-- End Line Chart -->
            
            </div>


            </div>
          </div><!-- End Reports -->
            

          <!-- Reports -->
          <div class="col-12">
            <div class="card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gender & Randomization Distribution <span>| {{ current_year }}</span></h5>
                
                        <!-- Line Chart -->
                        <div id="genderRandomizationChart"></div>
                
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                new ApexCharts(document.querySelector("#genderRandomizationChart"), {
                                    series: [{
                                        name: 'Male (Randomized)',
                                        data: {{ male_randomized|safe }},
                                    }, {
                                        name: 'Male (Unrandomized)',
                                        data: {{ male_unrandomized|safe }},
                                    }, {
                                        name: 'Female (Randomized)',
                                        data: {{ female_randomized|safe }},
                                    }, {
                                        name: 'Female (Unrandomized)',
                                        data: {{ female_unrandomized|safe }},
                                    }],
                                    chart: {
                                        height: 350,
                                        type: 'area',
                                        toolbar: {
                                            show: false
                                        },
                                    },
                                    markers: {
                                        size: 4
                                    },
                                    colors: ['#4154f1', '#2e3fbd', '#f41f1f', '#bd1f1f'],
                                    fill: {
                                        type: "gradient",
                                        gradient: {
                                            shadeIntensity: 1,
                                            opacityFrom: 0.3,
                                            opacityTo: 0.4,
                                            stops: [0, 90, 100]
                                        }
                                    },
                                    dataLabels: {
                                        enabled: false
                                    },
                                    stroke: {
                                        curve: 'smooth',
                                        width: 2
                                    },
                                    xaxis: {
                                        categories: {{ months|safe }}
                                    },
                                    tooltip: {
                                        y: {
                                            formatter: function(value) {
                                                return value + " patients"
                                            }
                                        }
                                    },
                                    legend: {
                                        position: 'top',
                                        horizontalAlign: 'right',
                                        offsetY: -25
                                    }
                                }).render();
                            });
                        </script>
                    </div>
                </div>
              </div>
            </div>
             

          <!-- Recent Sales -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>
              
            
              <div class="card-body">
                <h5 class="card-title">Doctors <span>| Today</span></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">specialization</th>
                      <th scope="col">ID number</th>
                      <th scope="col">phone</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for doctor in doctors %}
                    <tr>
                      <th scope="row"><a href="{% url 'doctor_detail' doctor.pk %}">{{ doctor.first_name }}</a></th>
                      <td>{{ doctor.last_name}}</td>
                      <td><a href="#" class="text-primary">{{ doctor.specialization}}</a></td>
                      <td>{{ doctor.identification_no}}</td>
                      <td>{{ doctor.phone}}</td>
                    </tr>

                   {% endfor  %}
                            
                  </tbody>
                </table>

              </div>

            </div>
          </div>
          
        
          <!-- End county ranking-->

          <!-- Top 10 Students -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body pb-0">
                <h5 class="card-title">Patients <span>| Today</span></h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Profile</th>
                        <th scope="col"> name</th>
                        <th scope="col">phone</th>
                        <th scope="col"> ID No</th>
                        <th scope="col">address</th>
                        <th scope="col"> DOB</th>
                
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% for patient in patients%}
                    <tr>
                      <th scope="row"><a  href="{% url 'patient_detail'  patient.pk %}"><img style="width: 40px ; height: 40px" src="{% static 'assets/img/profile.png'%}" alt=""></a></th>
                      <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                      <td>{{ patient.phone }}</td>
                      <td>{{ patient.Identification_no }}</td>
                      <td>{{ patient.address }}</td>
                      <td>{{ patient.date_of_birth }}</td>
                     
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Top Selling -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Recent Activity -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Recent Activity <span>| Today</span></h5>

            <div class="activity-wrapper">
              <div class="activity">
                {% for activity in recent_activities %}
                  <div class="activity-item d-flex">
                    <div class="activite-label">{{ activity.timestamp|date:"g:ia" }}</div>
                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                    <div class="activity-content">
                      {{ activity.user.username }} <a href="#" class="fw-bold text-dark">{{ activity.action }}</a> at {{ activity.timestamp|date:"M d, Y H:i" }}
                    </div>
                  </div><!-- End activity item-->
                {% endfor %}
              </div>
            </div>
            

            
          </div>
        </div><!-- End Recent Activity -->

        

        <!-- msot common diseases -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Most Common Diseases <span>| Today</span></h5>
        
            <div id="diseaseDonutChart" style="min-height: 400px;" class="echart"></div>
        
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    const diseaseData = JSON.parse('{{ data|safe }}'); // Pass JSON data to JavaScript
                    
                    // Prepare the chart data
                    const chartData = diseaseData.map(item => ({
                        name: item.disease_name,
                        value: item.test_count
                    }));
        
                    echarts.init(document.querySelector("#diseaseDonutChart")).setOption({
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            top: '5%',
                            left: 'center'
                        },
                        series: [{
                            name: 'Disease Tests',
                            type: 'pie',
                            radius: ['40%', '70%'],
                            avoidLabelOverlap: false,
                            label: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    fontSize: '18',
                                    fontWeight: 'bold'
                                }
                            },
                            labelLine: {
                                show: false
                            },
                            data: chartData
                        }]
                    });
                });
            </script>
        </div>
        
        </div><!-- End most common diseases -->


        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>
        
          <div class="card-body pb-0">
            <h5 class="card-title">TB Patient Statistics <span>| Today</span></h5>
        
            <div id="tbDonutChart" style="min-height: 400px;" class="echart"></div>
        
            <script>
              document.addEventListener("DOMContentLoaded", () => {
                const labels = {{ stats.labels|safe }};
                const counts = {{ stats.counts|safe }};
                
                // Prepare chart data
                const chartData = labels.map((label, index) => ({
                  name: label,
                  value: counts[index]
                }));
        
                echarts.init(document.querySelector("#tbDonutChart")).setOption({
                  tooltip: {
                    trigger: 'item'
                  },
                  legend: {
                    top: '5%',
                    left: 'center'
                  },
                  series: [{
                    name: 'TB Patient Stats',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                      show: false,
                      position: 'center'
                    },
                    emphasis: {
                      label: {
                        show: true,
                        fontSize: '18',
                        fontWeight: 'bold'
                      }
                    },
                    labelLine: {
                      show: false
                    },
                    data: chartData
                  }]
                });
              });
            </script>
          </div>
        </div>

        <!-- News & Updates  -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>
            
            <div class="news">
              
              
              {% for news in news_updates %}
              <div class="post-item clearfix">
                {% if news.image %}
                  <div class="image-container position-relative">
                    <img src="{{ news.image.url }}" alt="" class="img-fluid">
                    
                    <!-- Edit and Delete Icons -->
                    {% if news.created_by == request.user %}
                      
                      <a href="{% url 'news_delete' news.pk %}" class="icon-delete " style="font-size: 1.1rem;">
                        <i class="bi bi-trash"></i>
                      </a>
                    {% endif %}
                  </div>
                {% endif %}

                {% if news.created_by == request.user %}
                <h4><a href="{% url 'news_edit' news.pk %}">{{ news.title }}</a></h4>
                 {% else %}
                 <h4>{{ news.title }}</h4>
                {% endif %}
                <p>{{ news.description|truncatechars:100 }}</p>
              </div>
            {% endfor %}
            


            </div><!-- End sidebar recent posts-->

          </div>
        </div><!-- End News & Updates -->

      </div><!-- End Right side columns -->

    </div>
  </section>

</div>
{% endblock %}
