{% extends 'base/base.html' %}
{% block content %}

<div class="card">
   <div class="card-body">
       <h5 class="card-title">Add Doctor</h5>
       <form method="post" enctype="multipart/form-data" class="row g-3">
           {% csrf_token %}
           
           <div class="col-md-4">
               {{ form.first_name }}
               {{ form.first_name.errors }}
           </div>
           <div class="col-md-4">
               {{ form.last_name }}
               {{ form.last_name.errors }} 
           </div>
           <div class="col-md-4">
               {{ form.available_days }}
               {{ form.available_days.errors }}
           </div>
           
           <div class="col-6">
               {{ form.phone }}
               {{ form.phone.errors }}
           </div>
           <div class="col-md-6">
               {{ form.emergency_contact_name }}
               {{ form.emergency_contact_name.errors }}
           </div>

           <div class="col-md-4">
               {{ form.emergency_contact_phone }}
               {{ form.emergency_contact_phone.errors }}
           </div>
           <div class="col-md-4">
               {{ form.address }}
               {{ form.address.errors }}
           </div>
           <div class="col-md-4">
               {{ form.identification_no }}
               {{ form.identification_no.errors }}
           </div>

           <div class="col-6">
               {{ form.specialization }}
               {{ form.specialization.errors }}
           </div>
           <div class="col-md-6">
               {{ form.department }}
               {{ form.department.errors }}
           </div>

           <div class="col-md-4">
               {{ form.gender }}
               {{ form.gender.errors }}
           </div>
           <div class="col-md-4">
               {{ form.years_of_experience }}
               {{ form.years_of_experience.errors }}
           </div>
           <div class="col-md-4">
               {{ form.profile_picture }}
               {{ form.profile_picture.errors }}
           </div>

           <div class="text-center">
               <button type="submit" class="btn btn-primary">Submit</button>
               <button type="reset" class="btn btn-secondary">Reset</button>
           </div>
       </form>
   </div>
</div>

{% endblock %}