{% extends 'base/base.html' %}
{% block content %}

<div class="card">
   <div class="card-body">
       <h5 class="card-title">
           {% if form.instance.pk %}
               Update Non-Staff
           {% else %}
               Add Non-Staff
           {% endif %}
       </h5>
       <form method="post" enctype="multipart/form-data" class="row g-3">
           {% csrf_token %}

           <div class="col-md-4">
               {{ form.first_name.label_tag }}
               {{ form.first_name }}
               {{ form.first_name.errors }}
           </div>
           <div class="col-md-4">
               {{ form.last_name.label_tag }}
               {{ form.last_name }}
               {{ form.last_name.errors }}
           </div>
           <div class="col-md-4">
               {{ form.gender.label_tag }}
               {{ form.gender }}
               {{ form.gender.errors }}
           </div>

           <div class="col-md-6">
               {{ form.phone_number.label_tag }}
               {{ form.phone_number }}
               {{ form.phone_number.errors }}
           </div>
           <div class="col-md-6">
               {{ form.email.label_tag }}
               {{ form.email }}
               {{ form.email.errors }}
           </div>

           <div class="col-md-4">
               {{ form.date_of_birth.label_tag }}
               {{ form.date_of_birth }}
               {{ form.date_of_birth.errors }}
           </div>
           <div class="col-md-4">
               {{ form.national_id.label_tag }}
               {{ form.national_id }}
               {{ form.national_id.errors }}
           </div>
           <div class="col-md-4">
               {{ form.passport_number.label_tag }}
               {{ form.passport_number }}
               {{ form.passport_number.errors }}
           </div>

           <div class="col-md-6">
               {{ form.role.label_tag }}
               {{ form.role }}
               {{ form.role.errors }}
           </div>
           <div class="col-md-6">
               {{ form.department.label_tag }}
               {{ form.department }}
               {{ form.department.errors }}
           </div>

           <div class="col-md-6">
               {{ form.assigned_supervisor.label_tag }}
               {{ form.assigned_supervisor }}
               {{ form.assigned_supervisor.errors }}
           </div>
           <div class="col-md-6">
               {{ form.address.label_tag }}
               {{ form.address }}
               {{ form.address.errors }}
           </div>

           <div class="col-md-6">
               {{ form.emergency_contact_name.label_tag }}
               {{ form.emergency_contact_name }}
               {{ form.emergency_contact_name.errors }}
           </div>
           <div class="col-md-6">
               {{ form.emergency_contact_phone.label_tag }}
               {{ form.emergency_contact_phone }}
               {{ form.emergency_contact_phone.errors }}
           </div>

           <div class="col-md-4">
               {% if form.instance.photo %}
                   <img src="{{ form.instance.photo.url }}" alt="Current Photo" class="img-thumbnail mb-2" style="max-height: 100px;">
               {% endif %}
               {{ form.photo.label_tag }}
               {{ form.photo }}
               {{ form.photo.errors }}
           </div>
           <div class="col-md-4">
               {% if form.instance.profile_picture %}
                   <img src="{{ form.instance.profile_picture.url }}" alt="Current Profile Picture" class="img-thumbnail mb-2" style="max-height: 100px;">
               {% endif %}
               {{ form.profile_picture.label_tag }}
               {{ form.profile_picture }}
               {{ form.profile_picture.errors }}
           </div>

           <div class="text-center">
               <button type="submit" class="btn btn-primary">Save</button>
               <a href="{% url 'nonstaff_list' %}" class="btn btn-secondary">Cancel</a>
           </div>
       </form>
   </div>
</div>

{% endblock %}
