{% extends 'base/base.html' %}

{% block content %}
<div class="card">
   <div class="card-body">
       <h5 class="card-title">Edit Profile</h5>
       <form method="POST" enctype="multipart/form-data" class="row g-3">
           {% csrf_token %}
           
           <div class="col-md-4">
               {{ form.profile_image }}
               {{ form.profile_image.errors }}
           </div>

           <div class="col-md-4">
               {{ form.full_names }}
               {{ form.full_names.errors }}
           </div>

           <div class="col-md-4">
               {{ form.about }}
               {{ form.about.errors }}
           </div>
           
           <div class="col-md-6">
               {{ form.role }}
               {{ form.role.errors }}
           </div>

           <div class="col-md-6">
               {{ form.Region }}
               {{ form.Region.errors }}
           </div>

           <div class="col-md-4">
               {{ form.county }}
               {{ form.county.errors }}
           </div>

           <div class="col-md-4">
               {{ form.address }}
               {{ form.address.errors }}
           </div>

           <div class="col-md-4">
               {{ form.phone }}
               {{ form.phone.errors }}
           </div>

           <div class="col-md-4">
               {{ form.email }}
               {{ form.email.errors }}
           </div>

           <div class="text-center">
               <button type="submit" class="btn btn-primary">Save Changes</button>
               <button type="reset" class="btn btn-secondary">Reset</button>
           </div>
       </form>
   </div>
</div>
{% endblock %}
